/*
	color palette:
	base: f5f7b2; creamy cream
	base2: E0DA96; brown cream
	outlayer1: 1cc5dc;  lightblue
	outlayer2: 890596;	purple
	outlayer3: cf0000;	red
	outlayer4: 49912F;  pretty solid green
	outlayer5: 777856;  good gray
*/

* {
	margin: 0;
	font-family: sans-serif;
}

label {
	font-size: 1em;
}
/* header styling */

header {
	position: relative;
	height: 85px;
	border-bottom: solid 1px #777856;
	background-color: #E0DA96;
	padding: 3vh;
}

#algoSelector {
	position: absolute;
	top: 0px;
	left: 0px;
	margin-left: 3%;
	margin-top: 3%;
}
#arrayEditor {
	position: absolute;
	top: 0px;
	right: 0px;
	margin-right: 3%;
	margin-top: 3%;
	width: 38%;
}
#arrayEditor > h4 {
	margin-bottom: 10px;
}
#shuffleBtn {

}

body {
	background-color: #f5f7b2;
}



/* main block styling */

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#display {
	height: 75vh;
	width: 90%;
	display: flex;
	flex-wrap: nowrap;
}

/* bar styling & states */

.bar {
	border: solid 1px black;
	border-top: 0px;
	border-radius: 0px 0px 2px 2px;
	/*width: 2%;
	margin: 0px 0.3%;*/
	vertical-align: top;
}
.idle {
	background-color: #777856;
}

.comparing {
	background-color: #cf0000;
}
.compared {
	background-color: #49912F;
}
.selected {
	background-color: #1cc5dc;
}
